@import "./../common/styles/sass/variables.scss";

.projectsBlock {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 100vh;
    .projects {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;

        @media (max-width: 1049px) {
            justify-content: center;
        }
    }
}
