.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    background-color: lightpink;
    outline: 1px solid;
    text-align: center;
    margin: 15px;
    padding: 15px;

} 
.icon{
    height: 50px;
    width: 50px;
    background-color: yellowgreen;
    transform: rotate(45deg);
    margin: 15px;
}