.skillsBlock{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #333;
    outline: 1px solid;

 }
.title{
    background-color:lavender;
}
.skills{
    display: flex;
  justify-content: center;
    flex-wrap: wrap;
    
}

@media (max-width: 1049px) {
    .skills{ justify-content: center;}
 }

