.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(180, 110, 60, 0.7);
    outline: 1px solid ;
    margin-bottom: 15px;
    padding: 15px;
}
.info{
    outline: 1px solid #fff;
    padding: 15px;
    width: 280px;
    background-color: rgb(140, 157, 189);
}
.photo{
    width: 280px;
    height: 400px;
    background-color:  rgb(140, 157, 189);
    outline: 1px solid;
}
h1{
    font-size: 60px;
    color:#222;
    text-align:center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}
span{
    color:#b46e3c;
}
@media (max-width: 700px) {
    .main{ justify-content: center;}
    h1{font-size: 24px;}
 }
