.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    background-color: lightpink;
    outline: 1px solid;
    text-align: center;
    margin: 15px;

} 
.imageWrapper{
 height: 200px;
 width: 280px;
 display: flex;
 align-items: center;
 justify-content: center;
 outline: 1px solid;
}
.imageWrapper a{
    display: block;
    background-color:violet;
    outline: 1px solid;
}