$textColor:#333;
$primaryColor:#b46e3c;
$bgColor:#fff;
$titleFontFamily:'Josefin Sans', sans-serif;
$textFontFamily:'Opensans', sans-serif;

$bgSecondColor:#222;
$textSecondColor:rgba(255, 255, 255, 0.3);
